/* Stili per il contenitore delle notizie */
#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Caselle ridimensionate */
    gap: 20px;
    margin: 0 20px; 
}

/* Stili per ogni singola notizia */
.news-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

/* Stili per il titolo */
.news-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Stili per la descrizione */
.news-item p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Stili per la fonte e la data */
.news-item .source, .news-item .published-at {
    font-size: 0.9em;
    margin-top: auto; /* Allinea il testo in basso */
}

/* Stili per l'immagine */
.news-item img {
    width: 100%; /* Rendere l'immagine piena larghezza all'interno della casella */
    height: auto; /* Altezza proporzionale */
    border-radius: 8px;
    object-fit: cover; /* Riquadrare l'immagine mantenendo le proporzioni */
    margin-bottom: 15px; /* Margine inferiore per separare l'immagine dalla descrizione */
}

/* Stili per i link e i pulsanti */
.news-item a, .news-item button {
    display: inline-block; /* Imposta il display come inline-block */
    text-decoration: none; /* Rimuove il sottolineato predefinito */
    color: #fff; /* Colore del testo bianco */
    padding: 10px 15px; /* Padding per spaziatura */
    border-radius: 5px; /* Bordi arrotondati */
    font-size: 16px; /* Dimensione del carattere */
    margin: 4px 2px; /* Spaziatura esterna */
    cursor: pointer; /* Cambia il cursore al passaggio sopra */
    transition: background-color 0.3s, color 0.3s; /* Animazioni */
    width: auto; /* Imposta la larghezza automaticamente */
}

/* Aggiungi uno spazio tra i link e i pulsanti */
.news-item a + a, .news-item button + button {
    margin-left: 10px; /* Aggiungi spazio tra gli elementi */
}

/* Stili per l'URL */
.news-item a {
    background-color: #007bff; /* Sfondo blu */
}

/* Stili per il pulsante */
.news-item button {
    background-color: #4CAF50; /* Colore di sfondo verde */
    border: none; /* Rimuovi il bordo */
    display: block; /* Visualizzazione blocco */
}

/* Effetto al passaggio del mouse per i link e i pulsanti */
.news-item a:hover, .news-item button:hover {
    background-color: #0056b3; /* Sfondo blu più scuro */
}

button[disabled] {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

button[disabled]:hover {
    background-color: grey;
}
